*{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color:#ece6f7 !important;
}

header{
    margin-top:12em;
}

#sobreMi{
    background-color:#ece6f7;
    margin: 80px 0;
    padding: 90px 0;
}


#exp{
    margin: 80px 0;
    padding: 60px;
}

#misProyectos{
  margin: 80px 0;
  padding: 90px 0;

}

#contact{
    background-color:#ece6f7;
    margin-top: 80px ;
    padding: 60px;
}

img{
    width: 100%;
}


.btn{
    border: 1px solid rgb(0, 0, 0);
    width: 90%;
    margin: 0 auto;
    border-radius:50px;
}
.btn:hover{
    background-color: #4400b7;
    color: #ffff;

}

/* formulario */
.form{
    background:none;
    border: none;
}


.form .form-group input{
    background:none;
    outline: none;
    border: 1px solid #4400b7 ;
    border-radius:50px;

}

.form .form-group textarea{
    background:none;
    border: 1px solid #4400b7 ;
    border-radius:15px;
}
